.button-cart:hover > span {
    display: block;
    transition: all 1s;
    visibility: visible;
    transition: all 1s;
}

.button-cart {
    transition: all 1s;
}


.button-cart > span {
    animation:animatebottom .5s
}


@keyframes animatebottom{
    from {
        bottom: -1px;
        opacity:0
    } to{
        bottom:0;
        opacity:1
    }
}